{erl_opts, [debug_info]}.
{deps, [
    {erlsom, {git, "https://github.com/willemdj/erlsom",  {tag, "1.5.0"}}}
]}.

{profiles, [
    {test, [
        {deps, [
            {meck,   {git, "https://github.com/eproxus/meck",     {tag, "0.8.13"}}},
            {cowboy, {git, "https://github.com/ninenines/cowboy", {tag, "2.6.3"}}}
        ]}
    ]}
]}.